@import 'responsive';

// $primary-color: #00bcd4;
$orange-color: #e5665d;
$light-blue: #0886e8;
$dark-blue: #065fd6;
$orange-gradient-start: #fe7966;
$orange-gradient-end: #ffda71;
$primary-color: #00bcd4;
$red-color: #e5665d;

$body-font-family: 'IranSans';
$font-size-root: 14px;

$material-light: (
  'background': #f9f9f9
);
